<div class="mt2">

    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <td>STT</td>
                <td>Name</td>
                <td style="width: 200px;"></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Department1</td>
                <td class="bd-example">
                    <button type="button" class="btn btn-primary btn-sm" >Edit</button>
                    <button type="button" class="btn btn-danger btn-sm">Del</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Department2</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" >Edit</button>
                    <button type="button" class="btn btn-danger btn-sm">Del</button>
                </td>
            </tr>
            <tr>
                <td>3</td>
                <td>Department3</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" >Edit</button>
                    <button type="button" class="btn btn-danger btn-sm">Del</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>